<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDI.CPJunctionSync.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDI.CPJunctionSync.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <SDI.CPJunctionSync.My.MySettings>
            <setting name="oraCNString" serializeAs="String">
                <value>Provider=OraOLEDB.Oracle;Data Source=PROD;User Id=EINTERNET;Password=einternet;</value>
            </setting>
            <setting name="sql2012CNString" serializeAs="String">
                <value>server=SQL2012;uid=ItemAddWorker;pwd=sdiadmin;initial catalog={0};</value>
            </setting>
            <setting name="sqlDAZZLECNString" serializeAs="String">
                <value>server=DAZZLE;uid=sa;pwd=sdiadmin;initial catalog={0};</value>
            </setting>
            <setting name="qryGetSiteProdViewList" serializeAs="String">
                <value>GetSiteProdViewList.sql</value>
            </setting>
            <setting name="qryGetCatalogProductViewList" serializeAs="String">
                <value>GetCatalogProductView.sql</value>
            </setting>
            <setting name="sqlCPlusCNString" serializeAs="String">
                <value>server=CPLUS_PROD;uid=sa;pwd=coca-cola;initial catalog=Contentplus;</value>
            </setting>
            <setting name="appLogLevel" serializeAs="String">
                <value>VERB</value>
            </setting>
            <setting name="qryGetCPJunctionItemListForSite" serializeAs="String">
                <value>GetCPJunctionItemsForSite.sql</value>
            </setting>
            <setting name="qryGetClassAvailProductItemCount" serializeAs="String">
                <value>ClassAvailableProductsItemCount.sql</value>
            </setting>
            <setting name="qryCPJunctionUpdate" serializeAs="String">
                <value>UpdateCPJunction.sql</value>
            </setting>
            <setting name="qryGetClassAvailProductItemCount_CustItemId" serializeAs="String">
                <value>ClassAvailableProductsItemCount_CustItemId.sql</value>
            </setting>
            <setting name="qryGetClassAvailableProductItemsForProdView" serializeAs="String">
                <value>GetClassAvailableProductItemsForProdView.sql</value>
            </setting>
            <setting name="qryCPJunctionUpdateViaItemID" serializeAs="String">
                <value>UpdateCPJunctionViaItemID.sql</value>
            </setting>
            <setting name="qryCheckCPJunctionViaPartNumber" serializeAs="String">
                <value>CheckCPJunctionViaPartNumber.sql</value>
            </setting>
            <setting name="qryCPJunctionAdd" serializeAs="String">
                <value>CreateCPJunction.sql</value>
            </setting>
            <setting name="qryCPJunctionUpdateViaPartNoNotEqual" serializeAs="String">
                <value>UpdateCPJunctionViaPartNumberIfNotEqual.sql</value>
            </setting>
        </SDI.CPJunctionSync.My.MySettings>
    </applicationSettings>
    <userSettings>
        <SDI.CPJunctionSync.My.MySettings>
            <setting name="qryCPJunctionUpdateViaItemIDNotEqual" serializeAs="String">
                <value>UpdateCPJunctionViaItemIDIfNotEqual.sql</value>
            </setting>
        </SDI.CPJunctionSync.My.MySettings>
    </userSettings>
</configuration>
