<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ExpediterReload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <appSettings>
    <add key="OLEDBconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange; Data Source=RPTG"/>

    <add key="TestOrProd" value="TEST"/>
    <add key="testAuthorization" value="API_User"/>
    <add key="prodAuthorization" value="API_User"/>
    <add key="testPassword" value="qD28#!ddnq"/>
    <add key="prodPassword" value="qD28#!ddnq"/>
    
    <add key="testGetQueryURL" value="https://sdi.custhelp.com/services/rest/connect/latest/queryResults?query=select ID,Buyer_ID,Vendor_ID from CO.BuyExp"/>
    <add key="prodGetQueryURL" value="https://sdi.custhelp.com/services/rest/connect/latest/queryResults?query=select ID,Buyer_ID,Vendor_ID from CO.BuyExp"/>
    <add key="testDeletePostURL" value="https://sdi.custhelp.com/services/rest/connect/latest/CO.BuyExp/"/>
    <add key="prodDeletePostURL" value="https://sdi.custhelp.com/services/rest/connect/latest/CO.BuyExp/"/>

  </appSettings>

  <applicationSettings>
        <ExpediterReload.Properties.Settings>
            <setting name="ExpediterReload_SDiEmailUtilityService_EmailServices" serializeAs="String">
                <value>http://ims.sdi.com:8913/SDIEmailSvc/EmailServices.asmx</value>
            </setting>
        </ExpediterReload.Properties.Settings>
    </applicationSettings>
</configuration>
