<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EmailToReceivingReports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="UserName" value="pdfuser@sdi.com" />
    <add key="Password" value="0c17c08C" />
    <add key="OutlookURL" value="https://outlook.office365.com/EWS/Exchange.asmx" />
    <add key="MailboxEmailID" value="AbbVie.Reports@sdi.com" />
    <add key="ProcessedFolderName" value="Processed" />
    <add key="EmailSubject" value="TEST-[EXTERNAL]MRO Stockroom BO Report_V3" />
    <!--<add key="EmailSubject" value="[EXTERNAL]-A new version of Stockroom Backorder Report (RPA) is available" />-->

    <add key="FilterStoreRoomReport" value="Report: STOREROOM ORDER RECOMMENDATIONS TO BE PROCESSED" />
    <add key="FilterBackOrderReport" value="Report: Items Backordered by Storeroom - SDI"></add>
    <add key="FilterStoreRoomReport2" value="Report: STOREROOM RECOMMENDATIONS TO BE PROCESSED" />
    <add key="FilterBackOrderReport2" value="Report: Items Backordered by Storeroom-SDI"></add>
    <add key="DestinationPath" value="\\SDIXAWS2016TEST\SharedFolder\EmailToReceipt" />
    <add key="appId" value="035c8ef3-fd45-4ec2-b283-ad1aa650e7dd" />
    <add key="clientSecret" value="kwT8Q~7BSkjgFOYAosTyhU7zARQbSRQle1jXVbaE" />
    <add key="tenantId" value="3a7d6aa2-249a-4182-bc55-d043e55e0deb" />
    <!--<add key="DestinationPath" value="\\christina2012\dfs\private\FTP\EFT\Abbvie\inbound\" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="ConString" connectionString="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User Id=sdiexchange;Data Source=DEVL" />
  </connectionStrings>
  <applicationSettings>
    <EmailToReceivingReports.Properties.Settings>
      <setting name="EmailToReceivingReports_SDIEmailUtility_EmailServices" serializeAs="String">
        <value>http://ims.sdi.com:8913/SDIEmailSvc/EmailServices.asmx</value>
      </setting>
    </EmailToReceivingReports.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>