<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDI.MATMST_NEW_IOH.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDI.MATMST_NEW_IOH.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <SDI.MATMST_NEW_IOH.My.MySettings>
            <setting name="ParentApp" serializeAs="String">
                <value>SDI.MOMBrandEAMParentApp.dll</value>
            </setting>
            <setting name="ParentAppClass" serializeAs="String">
                <value>SDI.MOMBrandEAMParentApp.MOMBrandEAMParentApp</value>
            </setting>
            <setting name="MATMST_IOH_HTTP_SOAP_REQ" serializeAs="String">
                <value>MOMBrand_MATMST_IOH_HTTP_SOAP_Request.xml</value>
            </setting>
            <setting name="MATMST_IOH_GetBatchSize" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MATMST_IOH_MaxReq" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MATMST_IOH_HTTP_SOAP_DataMap" serializeAs="String">
                <value>MOMBrand_MATMST_IOH_HTTP_SOAP_TableColMap.xml</value>
            </setting>
            <setting name="MATMST_IOH_FlagMatMast" serializeAs="String">
                <value>MATMST_IOH_FlagMaterialMaster.sql</value>
            </setting>
        </SDI.MATMST_NEW_IOH.My.MySettings>
    </applicationSettings>
    <userSettings>
        <SDI.MATMST_NEW_IOH.My.MySettings>
            <setting name="MATMST_IOH_SelectNewItemToProc" serializeAs="String">
                <value>MATMST_IOH_SelectNewItemToProcess.sql</value>
            </setting>
            <setting name="MATMST_IOH_UpdateKeyColumns" serializeAs="String">
                <value>CUST_ID,PLANT,INV_ITEM_ID,EFF_STATUS,ISA_CUSTOMER_CAT,IM_CFFT,INV_STOCK_TYPE,ISA_CUSTOMER_MFG,MFG_ITM_ID,PREFERRED_MFG,REORDER_POINT,QTY_MAXIMUM,REORDER_QTY,UNIT_OF_MEASUREREPAIR_OPTION_LBLSTANDARD_COST,STD_LEAD,UTILIZ_CD,ISA_NRTE_GL_CODE,ISA_ARTE_GL_CODE,ISA_TRTE_GL_CODE,ISA_NHOT_GL_CODE,ISA_MN_TAX_CODE,ISA_NC_TAX_CODE,ISA_UT_TAX_CODE,PROCESS_INSTANCE</value>
            </setting>
        </SDI.MATMST_NEW_IOH.My.MySettings>
    </userSettings>
</configuration>
