<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ConString" connectionString="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User Id=sdiexchange;Data Source=PLGR"/>    
  </connectionStrings>
  <appSettings>
    <!--<add key="UploadFilePath" value="C:\Avasoft_Utility\UserExcel.xlsx"/>-->
    <add key="LogFilePath" value="C:\\Logs\\"/>
  </appSettings>
</configuration>