/EmailToReceipt/EmailToReceipt/packages/FreeSpire.XLS.9.2.1/FreeSpire.XLS.9.2.1.nupkg filter=lfs diff=lfs merge=lfs -text
/UpsIntegration/packages/Spire.Office.3.0/Spire.Office.3.0.nupkg filter=lfs diff=lfs merge=lfs -text
*.nupkg filter=lfs diff=lfs merge=lfs -text
