<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDI.StagedCatalogItem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <SDI.StagedCatalogItem.My.MySettings>
            <setting name="oraCNString" serializeAs="String">
                <value>Provider=OraOLEDB.Oracle;Data Source=PROD;User Id=EINTERNET;Password=einternet;</value>
            </setting>
            <setting name="sql2012CNString" serializeAs="String">
                <value>server=SQL2012;uid=ItemAddWorker;pwd=sdiadmin;initial catalog={0};</value>
            </setting>
            <setting name="sqlDAZZLECNString" serializeAs="String">
                <value>server=DAZZLE;uid=sa;pwd=sdiadmin;initial catalog={0};</value>
            </setting>
            <setting name="sqlSDICLOUDCNString" serializeAs="String">
                <value>server=SDICLOUD;uid=spAdmin;pwd=Sharepoint2013;initial catalog={0};</value>
            </setting>
            <setting name="LastRunInfoXML" serializeAs="String">
                <value>LatestRunInfo.xml</value>
            </setting>
            <setting name="qryGetNewModPSItem" serializeAs="String">
                <value>GetNewModPSItem.sql</value>
            </setting>
            <setting name="qryCheckCustomerItemInCatalog" serializeAs="String">
                <value>checkCustomerItemInCatalog.sql</value>
            </setting>
            <setting name="sqlCPlusCNString" serializeAs="String">
                <value>server=192.168.253.52;uid=sa;pwd=coca-cola;initial catalog=Contentplus;</value>
            </setting>
            <setting name="qryGetCatalogProductViewList" serializeAs="String">
                <value>GetCatalogProductView.sql</value>
            </setting>
            <setting name="qryGetSiteProductViewList" serializeAs="String">
                <value>GetSiteProductView.sql</value>
            </setting>
            <setting name="qryGetSiteItemPrefixList" serializeAs="String">
                <value>GetSiteItemPrefix.sql</value>
            </setting>
            <setting name="qryInsertCP_JUNCTION" serializeAs="String">
                <value>InsertCP_JUNCTION.sql</value>
            </setting>
            <setting name="qryUpdateCP_JUNCTION" serializeAs="String">
                <value>UpdateCP_JUNCTION.sql</value>
            </setting>
            <setting name="qryStageClassAvailProdInsert" serializeAs="String">
                <value>StageClassAvailableProducts_Insert.sql</value>
            </setting>
            <setting name="qryStageClassAvailProdUpdate" serializeAs="String">
                <value>StageClassAvailableProducts_Update.sql</value>
            </setting>
            <setting name="qryRemoveOriginClassAvailProd" serializeAs="String">
                <value>RemoveItemFromClassAvailableProducts.sql</value>
            </setting>
            <setting name="qryMainClassAvailProdUpdate" serializeAs="String">
                <value>MainClassAvailableProducts_Update.sql</value>
            </setting>
            <setting name="qryMainClassAvailProdInsert" serializeAs="String">
                <value>MainClassAvailableProducts_Insert.sql</value>
            </setting>
            <setting name="qryUpdateScottsdaleItemMfgPartNo" serializeAs="String">
                <value>UpdateScottsdaleItemTableMfgPartNumber.sql</value>
            </setting>
            <setting name="qryGetItemClassId" serializeAs="String">
                <value>GetItemClassId.sql</value>
            </setting>
            <setting name="qryStageClassAvailProdUpdateFlag" serializeAs="String">
                <value>StageClassAvailableProducts_UpdateFlag.sql</value>
            </setting>
            <setting name="qryGetItemClassIdStaged" serializeAs="String">
                <value>GetItemClassId_Staged.sql</value>
            </setting>
        </SDI.StagedCatalogItem.My.MySettings>
    </applicationSettings>
</configuration>
