<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDI.POWO_HTTP_SOAP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <SDI.POWO_HTTP_SOAP.My.MySettings>
            <setting name="ParentApp" serializeAs="String">
                <value>SDI.MOMBrandEAMParentApp.dll</value>
            </setting>
            <setting name="ParentAppClass" serializeAs="String">
                <value>SDI.MOMBrandEAMParentApp.MOMBrandEAMParentApp</value>
            </setting>
            <setting name="POWO_HTTP_SOAP_REQ" serializeAs="String">
                <value>MOMBrand_POWO_HTTP_SOAP_Request.xml</value>
            </setting>
            <setting name="POWO_GetBatchSize" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="POWO_MaxReq" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="POWO_HTTP_SOAP_DataMap" serializeAs="String">
                <value>MOMBrand_POWO_HTTP_SOAP_TableColMap.xml</value>
            </setting>
            <setting name="POWO_HTTP_SOAP_ACK" serializeAs="String">
                <value>MOMBrand_POWO_HTTP_SOAP_Ack.xml</value>
            </setting>
            <setting name="POWO_HTTP_SOAP_ACK_ITM" serializeAs="String">
                <value>MOMBrand_POWO_HTTP_SOAP_Ack_Item.xml</value>
            </setting>
            <setting name="POWO_AckBatchSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="POWO_AckColumnId" serializeAs="String">
                <value>REQ_CODE</value>
            </setting>
            <setting name="POWO_AckKeyColumns" serializeAs="String">
                <value>CUST_ID,PLANT,REQ_ID</value>
            </setting>
        </SDI.POWO_HTTP_SOAP.My.MySettings>
    </applicationSettings>
</configuration>
