<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OrderApprovalMail.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings >
    <add key="serverId" value="LOCALHOST" />
    <add key="OLEDBconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User Id=sdiexchange;Data Source=RPTG" />
    <add key="AEESsitesList" value="I0913~I0914~I0915~I0916~I0917~I0918~I0919~I0920~I0921~I0922~I0923~I0924~I0925~I0926~I0940~I0945~I0950" />
    <add key="WebAppName" value="https://sdiexchtest.sdi.com/" />
    <add key="NYCSitesList" value="I0230~I0231~I0260"/>
  </appSettings>
  <applicationSettings>
    <OrderApprovalMail.My.MySettings>
      <setting name="OrderApprovalMail_SDiEmailUtilityService_EmailServices"
        serializeAs="String">
        <value>http://ims.sdi.com:8913/SDIEmailSvc/EmailServices.asmx</value>
      </setting>
      <setting name="logMyPath" serializeAs="String">
        <value>C:\Program Files (x86)\SDI\SendEmailQTWBypassReqstr\LOGS</value>
      </setting>
    </OrderApprovalMail.My.MySettings>
  </applicationSettings>
</configuration>