BODY
{
    BACKGROUND-COLOR: white;
}
A:link
{
}
A:visited
{
}
.ClassNames
{
    BORDER-RIGHT: black thin;
    BORDER-TOP: black thin;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    BORDER-LEFT: black thin;
    CURSOR: hand;
    COLOR: blue;
    LINE-HEIGHT: 0pt;
    BORDER-BOTTOM: black thin;
    TEXT-DECORATION: underline;
}
.FakeAnchor
{
    CURSOR: hand;
    COLOR: blue;
    TEXT-DECORATION: underline;
}
.Table
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    LEFT: 0pt;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    TOP: 0pt;
    HEIGHT: 8.25pt;
    FONT-VARIANT: normal;
}
.TableHeader
{
    BORDER-RIGHT: black 1pt;
    BORDER-TOP: black 1pt;
    FONT-SIZE: 10pt;
    BORDER-LEFT: black 1pt;
    BORDER-BOTTOM: black 1pt solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #caffd1;
}
.TableBody
{
    BORDER-TOP: black 1pt solid;
    FONT-SIZE: 10pt;
    BORDER-LEFT: black 1pt solid;
    BACKGROUND-COLOR: transparent;
}
.TableHeading
{
    BORDER-RIGHT: silver 1px solid;
    BORDER-TOP: silver 1px solid;
    BORDER-LEFT: silver 0px solid;
    BORDER-BOTTOM: silver 0px solid;
}
.HiddenColumn
{
    BORDER-RIGHT: 0px;
    BORDER-TOP: 0px;
    DISPLAY: none;
    FONT-SIZE: 8pt;
    VISIBILITY: hidden;
    BORDER-LEFT: 0px;
    BORDER-BOTTOM: 0px;
}
.Cell
{
    BORDER-RIGHT: silver 1pt solid;
    FONT-SIZE: 10pt;
    BORDER-BOTTOM: silver 1pt solid;
    color: #273D8C;
}
.HiddenCell
{
    BORDER-BOTTOM: black 1px;
    BORDER-LEFT: 1px;
    BORDER-RIGHT: black 1px;
    BORDER-TOP: 1px;
    COLOR: blue;
    CURSOR: default;
    DISPLAY: none;
    TEXT-ALIGN: center;
    TEXT-DECORATION: underline;
    VISIBILITY: hidden;
}
.cell-wb
{
    BORDER-RIGHT: #99cccc thin solid;
    BORDER-TOP: #99cccc thin solid;
    BORDER-LEFT: #99cccc thin solid;
    BORDER-BOTTOM: #99cccc thin solid;
}
.fieldlabel
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    TEXT-TRANSFORM: capitalize;
    FONT-FAMILY: Arial, Verdana, 'MS Sans Serif';
    color: #273D8C;
}
.FieldValuesMatchingProducts
{
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial, Verdana, 'MS Sans Serif';
}
.CellMatchingProducts
{
    BORDER-RIGHT: silver 1pt solid;
    FONT-SIZE: 7pt;
    BORDER-BOTTOM: silver 1pt solid;
}

.ActiveColumnHeading
{
    BORDER-RIGHT: black 1px;
    BORDER-TOP: 1px;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1px;
    CURSOR: default;
    COLOR: #ffffff;
    BORDER-BOTTOM: black 1px;
    BACKGROUND-COLOR: #000099;
    TEXT-ALIGN: center;
    TEXT-DECORATION: underline;
}
.InactiveColumnHeading
{
    BORDER-RIGHT: black 1px;
    BORDER-TOP: 1px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1px;
    CURSOR: default;
    COLOR: #0000ff;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Verdana,Arial, Helvetica, 'MS Sans Serif';
    TEXT-DECORATION: underline;
}
.InactiveColumnHeadingStatic
{
    BORDER-RIGHT: black 1px;
    BORDER-TOP: 1px;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    BORDER-LEFT: 1px;
    CURSOR: default;
    COLOR: #000000;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Verdana,Arial, Helvetica, 'MS Sans Serif';
}
.HiddenColumnHeading
{
    BORDER-RIGHT: black 1px;
    BORDER-TOP: 1px;
    DISPLAY: none;
    FONT-SIZE: 8pt;
    VISIBILITY: hidden;
    BORDER-LEFT: 1px;
    CURSOR: default;
    COLOR: blue;
    BORDER-BOTTOM: black 1px;
    TEXT-ALIGN: center;
    TEXT-DECORATION: underline;
}
.ItemCount
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 7pt;
    CURSOR: hand;
    COLOR: gray;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial;
    TEXT-DECORATION: underline;
}
.ProductFeatures
{
    FONT-WEIGHT: bold;
    BORDER-LEFT: silver 1pt solid;
    BORDER-BOTTOM: silver 1pt solid;
}
.WhiteAnchor
{
    COLOR: white;
}
.ColumnBgColor
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    BACKGROUND-COLOR: #caffd1;
}
.ColumnHeaderBgColor
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    BACKGROUND-COLOR: #caffd1;
}
.FieldValues
{
    FONT-SIZE: 12pt;
}
.FieldValueConstant
{
    FONT-SIZE: 13pt;
}
.hruler
{
    BORDER-BOTTOM: lightsteelblue thin solid;
}
.ColheadingScottsdale
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Arial, Verdana, 'MS Sans Serif';
    BACKGROUND-COLOR: #caffd1;
}
.CatalogTitle
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 30pt;
    COLOR: #273D8C;
    FONT-FAMILY: 'Arial Black', Arial, Verdana, 'MS Sans Serif';
}
..NavigationBar
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Arial, Helvetica, 'MS Sans Serif';
}
.SectionTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: #273D8C;
    FONT-FAMILY: Arial, Helvetica, 'MS Sans Serif';
}
.BannerTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #273D8C;
    FONT-FAMILY: Arial, Helvetica, 'MS Sans Serif';
}
.BannerTitleG
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #B9D52B;
    FONT-FAMILY: Arial, Helvetica, 'MS Sans Serif';
}
.HintText
{
    FONT-SIZE: 7pt;
    FONT-FAMILY: Arial, Helvetica, 'MS Sans Serif';
}
.ClassName
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
    COLOR: #0000ca;
}
.ChildClassName
{
    FONT-SIZE: 7pt;
    COLOR: #0000ca;
    FONT-FAMILY: Arial, Helvetica, 'MS Sans Serif';
}
.RequestQuoteText
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial, Helvetica, 'MS Sans Serif';
}
.NavigatorClassName
{
    FONT-SIZE: 10pt;
    COLOR: #0000ca;
    FONT-FAMILY: Arial, Helvetica, 'MS Sans Serif';
}
.ProductLink
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    FONT-FAMILY: Arial, Helvetica, 'MS Sans Serif';
}
.Note
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
}
.SearchFieldLabel
{
    FONT-SIZE: 10pt;
    COLOR: #707040;
    FONT-FAMILY: Arial, Helvetica, 'MS Sans Serif';
}
.StaticDescription
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    COLOR: #666633;
    FONT-FAMILY: Arial, Helvetica, 'MS Sans Serif';
}
.RFQBuilderTitle
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 14pt;
    COLOR: #707040;
    FONT-FAMILY: Arial, Helvetica, 'MS Sans Serif';
}
.ProductFields
{
    BORDER-RIGHT: silver 1pt solid;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 7pt;
    COLOR: #707040;
    BORDER-BOTTOM: silver 1pt solid;
    FONT-FAMILY: Arial, Helvetica, 'MS Sans Serif';
}
.ProductFieldsRFQ
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 7pt;
    COLOR: #707040;
    FONT-FAMILY: Arial, Helvetica, 'MS Sans Serif';
}
.tableBorderRFQ
{
    BORDER-LEFT: silver 1pt solid;
}
.BoldText
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 12pt;
}
.StaticText
{
    FONT-SIZE: 10pt;
}
.displayfield
{
	FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    FONT-FAMILY: Arial, Verdana, 'MS Sans Serif';
    color: #273D8C;
}


