<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDI.ExpireRFQConsole.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="OLEDBconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange;Data Source=FSTST"/>
    <add key="LogPath" value="C:\Program Files (x86)\SDI\SDI_ExpireRFQMailer\LOGS\"/>
    <add key="Date" value="15/09/2021"/>
    <add key="ASCEND_BU_List" value="~I0440~I0441~I0442~I0443~I0444"/>
    <add key="configPath" value="D:\ExpireRFQConsole\SDI.ExpireRFQConsole\SDI.ExpireRFQConsole\bin\Debug"/>
    <add key="Day1" value="9"/>
    <add key="Day2" value="19"/>
    <add key="Day3" value="29"/>
  </appSettings>
  <applicationSettings>
    <SDI.ExpireRFQConsole.My.MySettings>
      <setting name="SDI_ExpireRFQConsole_EmailService_EmailServices"
        serializeAs="String">
        <value>http://sdixaws2016test:8083/SDIEmailSvc/EmailServices.asmx</value>
      </setting>
    </SDI.ExpireRFQConsole.My.MySettings>
  </applicationSettings>
</configuration>