<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  <appSettings>
    <!--
[ Printer ]
  Printer Name    : NYCDOE_63
  Is Valid Printer: True
[ Available Paper Source ]
  0	 Automatically Select
  1	 Printer auto select
  2	 Manual Feed in Tray 1
  3	 Tray 1
  4	 Tray 2
  5	Unspecified
  6	Plain
  7	Preprinted
  8	Letterhead
  9	Transparency
  10	Prepunched
  11	Labels
  12	Bond
  13	Recycled
  14	Color
  15	Light 60-75 g/m2
  16	Heavy 91-164 g/m2
  17	Cardstock 164-200 g/m2
  18	Rough
  19	Vellum
  20	Envelope

[ Printer ]
  Printer Name    : NYCDOE_62
  Is Valid Printer: True
[ Available Paper Source ]
  0	Automatically Select
  1	First Available Tray
  2	Tray 1
  3	Manual Paper Feed
  4	Tray 2
  5	Tray 3

[ Printer ]
  Printer Name    : \\sdi\MudShark
  Is Valid Printer: True
[ Available Paper Source ]
  0	Auto Tray Select
  1	Tray 1
  2	Tray 2

 [ Printer ]
   Printer Name    : \\sdi\MudShark
   Is Valid Printer: True
 [ Available Paper Source ]
   0	Auto Tray Select
   1	
  2	manual feed
  3 tray 1
  4 tray 2
  5 tray 3
 
 
 this is still NYC live system for re-printing docs for inv transfer so it should stay on NYC's printer
    <add bu="230" value="logLevelOverride=verbose;printToOverride=nycdoe63;debug.ListAvailPrinter=true;debug.ListAvailPrnPaperSources=false;SDI.Reports.shippingDoc.paperSourceId=0;SDI.Reports.shippingDoc.copy=1;SDI.Reports.shippingLabel.paperSourceId=0;SDI.Reports.shippingLabel.copy=1" desc="" />
    -->
    <add bu="20X" 
         value="logLevelOverride=verbose;
                printToOverride=mudshark;
                debug.ListAvailPrinter=true;
                debug.ListAvailPrnPaperSources=false;
                SDI.Reports.shippingDoc.printTo=mudshark;
                SDI.Reports.shippingDoc.paperSourceId=5;
                SDI.Reports.shippingDoc.copy=1;
                SDI.Reports.shippingLabel.printTo=mudshark;
                SDI.Reports.shippingLabel.paperSourceId=4;
                SDI.Reports.shippingLabel.copy=1;
                SDI.Reports.shippingDocRegPick.printTo=mudshark;
                SDI.Reports.shippingDocRegPick.paperSourceId=5;
                SDI.Reports.shippingDocRegPick.copy=1;
                SDI.Reports.shippingLabelRegPick.printTo=mudshark;
                SDI.Reports.shippingLabelRegPick.paperSourceId=4;
                SDI.Reports.shippingLabelRegPick.copy=1" 
         desc="" />
    <add bu="230" 
         value="logLevelOverride=verbose;
                printToOverride=NYCDOE61;
                debug.ListAvailPrinter=true;
                debug.ListAvailPrnPaperSources=false;
                SDI.Reports.shippingDoc.printTo=NYCDOE61;
                SDI.Reports.shippingDoc.paperSourceId=5;
                SDI.Reports.shippingDoc.copy=1;
                SDI.Reports.shippingLabel.printTo=NYCDOE61;
                SDI.Reports.shippingLabel.paperSourceId=19;
                SDI.Reports.shippingLabel.copy=1;
                SDI.Reports.shippingDocRegPick.printTo=NYCDOE61;
                SDI.Reports.shippingDocRegPick.paperSourceId=5;
                SDI.Reports.shippingDocRegPick.copy=1;
                SDI.Reports.shippingLabelRegPick.printTo=NYCDOE61;
                SDI.Reports.shippingLabelRegPick.paperSourceId=19;
                SDI.Reports.shippingLabelRegPick.copy=1" 
         desc="" />
    <add bu="xxx" 
         value="logLevelOverride=verbose;
                printToOverride=nyc260_1;
                debug.ListAvailPrinter=true;
                debug.ListAvailPrnPaperSources=false;
                SDI.Reports.shippingDoc.printTo=nyc260_1;
                SDI.Reports.shippingDoc.paperSourceId=7;
                SDI.Reports.shippingDoc.copy=1;
                SDI.Reports.shippingLabel.printTo=nyc260_1;
                SDI.Reports.shippingLabel.paperSourceId=17;
                SDI.Reports.shippingLabel.copy=1;
                SDI.Reports.shippingDocRegPick.printTo=nyc260_1;
                SDI.Reports.shippingDocRegPick.paperSourceId=7;
                SDI.Reports.shippingDocRegPick.copy=1;
                SDI.Reports.shippingLabelRegPick.printTo=nyc260_1;
                SDI.Reports.shippingLabelRegPick.paperSourceId=17;
                SDI.Reports.shippingLabelRegPick.copy=1" 
         desc="" />
    <add bu="260" 
         value="logLevelOverride=verbose;
                printToOverride=NYCRicoh_2;
                debug.ListAvailPrinter=true;
                debug.ListAvailPrnPaperSources=false;
                SDI.Reports.shippingDoc.printTo=NYCRicoh_2;
                SDI.Reports.shippingDoc.paperSourceId=1;
                SDI.Reports.shippingDoc.copy=3;
                SDI.Reports.shippingLabel.printTo=NYCRicoh_2;
                SDI.Reports.shippingLabel.paperSourceId=2;
                SDI.Reports.shippingLabel.copy=1;
                SDI.Reports.shippingDocRegPick.printTo=NYCRicoh_2;
                SDI.Reports.shippingDocRegPick.paperSourceId=1;
                SDI.Reports.shippingDocRegPick.copy=3;
                SDI.Reports.shippingLabelRegPick.printTo=NYCRicoh_2;
                SDI.Reports.shippingLabelRegPick.paperSourceId=2;
                SDI.Reports.shippingLabelRegPick.copy=1" 
         desc="" />
    <add bu="206" 
         value="logLevelOverride=verbose;
                printToOverride=\\sdi\MudShark;
                debug.ListAvailPrinter=true;
                debug.ListAvailPrnPaperSources=false;
                SDI.Reports.shippingDoc.printTo=\\sdi\MudShark;
                SDI.Reports.shippingDoc.paperSourceId=0;
                SDI.Reports.shippingDoc.copy=3;
                SDI.Reports.shippingLabel.printTo=\\sdi\MudShark;
                SDI.Reports.shippingLabel.paperSourceId=0;
                SDI.Reports.shippingLabel.copy=1;
                SDI.Reports.shippingDocRegPick.printTo=\\sdi\MudShark;
                SDI.Reports.shippingDocRegPick.paperSourceId=0;
                SDI.Reports.shippingDocRegPick.copy=3;
                SDI.Reports.shippingLabelRegPick.printTo=\\sdi\MudShark;
                SDI.Reports.shippingLabelRegPick.paperSourceId=0;
                SDI.Reports.shippingLabelRegPick.copy=1" 
         desc="" />
    <add bu="469" 
         value="logLevelOverride=verbose;
                printToOverride=NBTY_130;
                debug.ListAvailPrinter=true;
                debug.ListAvailPrnPaperSources=false;
                SDI.Reports.shippingDoc.printTo=NBTY_130;
                SDI.Reports.shippingDoc.paperSourceId=1;
                SDI.Reports.shippingDoc.copy=2;
                SDI.Reports.shippingLabel.printTo=NBTY_130;
                SDI.Reports.shippingLabel.paperSourceId=2;
                SDI.Reports.shippingLabel.copy=1;
                SDI.Reports.shippingDocRegPick.printTo=NBTY_130;
                SDI.Reports.shippingDocRegPick.paperSourceId=1;
                SDI.Reports.shippingDocRegPick.copy=2;
                SDI.Reports.shippingLabelRegPick.printTo=NBTY_130;
                SDI.Reports.shippingLabelRegPick.paperSourceId=2;
                SDI.Reports.shippingLabelRegPick.copy=1" 
         desc="" />
    <add bu="470" 
         value="logLevelOverride=verbose;
                printToOverride=MOM_NRTE;
                debug.ListAvailPrinter=true;
                debug.ListAvailPrnPaperSources=false;
                SDI.Reports.shippingDoc.printTo=MOM_NRTE;
                SDI.Reports.shippingDoc.paperSourceId=1;
                SDI.Reports.shippingDoc.copy=2;
                SDI.Reports.shippingLabel.printTo=MOM_NRTE;
                SDI.Reports.shippingLabel.paperSourceId=1;
                SDI.Reports.shippingLabel.copy=1;
                SDI.Reports.shippingDocRegPick.printTo=MOM_NRTE;
                SDI.Reports.shippingDocRegPick.paperSourceId=1;
                SDI.Reports.shippingDocRegPick.copy=1;
                SDI.Reports.shippingLabelRegPick.printTo=NoPrinter;
                SDI.Reports.shippingLabelRegPick.paperSourceId=1;
                SDI.Reports.shippingLabelRegPick.copy=1" 
         desc="" />
    <add bu="471" 
         value="logLevelOverride=verbose;
                printToOverride=MOM_ARTE;
                debug.ListAvailPrinter=true;
                debug.ListAvailPrnPaperSources=false;
                SDI.Reports.shippingDoc.printTo=MOM_ARTE;
                SDI.Reports.shippingDoc.paperSourceId=1;
                SDI.Reports.shippingDoc.copy=2;
                SDI.Reports.shippingLabel.printTo=MOM_ARTE;
                SDI.Reports.shippingLabel.paperSourceId=1;
                SDI.Reports.shippingLabel.copy=1;
                SDI.Reports.shippingDocRegPick.printTo=MOM_ARTE;
                SDI.Reports.shippingDocRegPick.paperSourceId=1;
                SDI.Reports.shippingDocRegPick.copy=1;
                SDI.Reports.shippingLabelRegPick.printTo=NoPrinter;
                SDI.Reports.shippingLabelRegPick.paperSourceId=1;
                SDI.Reports.shippingLabelRegPick.copy=1" 
         desc="" />
    <add bu="472" 
         value="logLevelOverride=verbose;
                printToOverride=MOM_TRTE;
                debug.ListAvailPrinter=true;
                debug.ListAvailPrnPaperSources=false;
                SDI.Reports.shippingDoc.printTo=MOM_TRTE;
                SDI.Reports.shippingDoc.paperSourceId=1;
                SDI.Reports.shippingDoc.copy=2;
                SDI.Reports.shippingLabel.printTo=MOM_TRTE;
                SDI.Reports.shippingLabel.paperSourceId=1;
                SDI.Reports.shippingLabel.copy=1;
                SDI.Reports.shippingDocRegPick.printTo=MOM_TRTE;
                SDI.Reports.shippingDocRegPick.paperSourceId=1;
                SDI.Reports.shippingDocRegPick.copy=1;
                SDI.Reports.shippingLabelRegPick.printTo=NoPrinter;
                SDI.Reports.shippingLabelRegPick.paperSourceId=1;
                SDI.Reports.shippingLabelRegPick.copy=1" 
         desc="" />
    <add bu="473" 
         value="logLevelOverride=verbose;
                printToOverride=MOM_NRTE;
                debug.ListAvailPrinter=true;
                debug.ListAvailPrnPaperSources=false;
                SDI.Reports.shippingDoc.printTo=MOM_NRTE;
                SDI.Reports.shippingDoc.paperSourceId=1;
                SDI.Reports.shippingDoc.copy=2;
                SDI.Reports.shippingLabel.printTo=MOM_NRTE;
                SDI.Reports.shippingLabel.paperSourceId=1;
                SDI.Reports.shippingLabel.copy=1;
                SDI.Reports.shippingDocRegPick.printTo=NoPrinter;
                SDI.Reports.shippingDocRegPick.paperSourceId=1;
                SDI.Reports.shippingDocRegPick.copy=1;
                SDI.Reports.shippingLabelRegPick.printTo=NoPrinter;
                SDI.Reports.shippingLabelRegPick.paperSourceId=1;
                SDI.Reports.shippingLabelRegPick.copy=1" 
         desc="" />
    <add bu="999" 
         value="logLevelOverride=verbose;
                printToOverride=SDISolutionCenter;
                debug.ListAvailPrinter=true;
                debug.ListAvailPrnPaperSources=false;
                SDI.Reports.shippingDoc.printTo=SDISolutionCenter;
                SDI.Reports.shippingDoc.paperSourceId=1;
                SDI.Reports.shippingDoc.copy=1;
                SDI.Reports.shippingLabel.printTo=SDISolutionCenter;
                SDI.Reports.shippingLabel.paperSourceId=5;
                SDI.Reports.shippingLabel.copy=1;
                SDI.Reports.shippingDocRegPick.printTo=SDISolutionCenter;
                SDI.Reports.shippingDocRegPick.paperSourceId=1;
                SDI.Reports.shippingDocRegPick.copy=1;
                SDI.Reports.shippingLabelRegPick.printTo=SDISolutionCenter;
                SDI.Reports.shippingLabelRegPick.paperSourceId=5;
                SDI.Reports.shippingLabelRegPick.copy=1" 
         desc="" />
    <add bu="440" 
         value="logLevelOverride=verbose;
                printToOverride=ascendPC;
                debug.ListAvailPrinter=true;
                debug.ListAvailPrnPaperSources=false;
                SDI.Reports.shippingDoc.printTo=ascendPC;
                SDI.Reports.shippingDoc.paperSourceId=1;
                SDI.Reports.shippingDoc.copy=2;
                SDI.Reports.shippingLabel.printTo=ascendPC;
                SDI.Reports.shippingLabel.paperSourceId=1;
                SDI.Reports.shippingLabel.copy=1;
                SDI.Reports.shippingDocRegPick.printTo=ascendPC;
                SDI.Reports.shippingDocRegPick.paperSourceId=1;
                SDI.Reports.shippingDocRegPick.copy=2;
                SDI.Reports.shippingLabelRegPick.printTo=ascendPC;
                SDI.Reports.shippingLabelRegPick.paperSourceId=1;
                SDI.Reports.shippingLabelRegPick.copy=1" 
         desc="" />
    <add bu="441" 
         value="logLevelOverride=verbose;
                printToOverride=ascendCB;
                debug.ListAvailPrinter=true;
                debug.ListAvailPrnPaperSources=false;
                SDI.Reports.shippingDoc.printTo=ascendCB;
                SDI.Reports.shippingDoc.paperSourceId=1;
                SDI.Reports.shippingDoc.copy=2;
                SDI.Reports.shippingLabel.printTo=ascendCB;
                SDI.Reports.shippingLabel.paperSourceId=1;
                SDI.Reports.shippingLabel.copy=1;
                SDI.Reports.shippingDocRegPick.printTo=ascendCB;
                SDI.Reports.shippingDocRegPick.paperSourceId=1;
                SDI.Reports.shippingDocRegPick.copy=1;
                SDI.Reports.shippingLabelRegPick.printTo=ascendCB;
                SDI.Reports.shippingLabelRegPick.paperSourceId=1;
                SDI.Reports.shippingLabelRegPick.copy=1" 
         desc="" />
    <add bu="442" 
         value="logLevelOverride=verbose;
                printToOverride=\\sdi\MudShark;
                debug.ListAvailPrinter=true;
                debug.ListAvailPrnPaperSources=false;
                SDI.Reports.shippingDoc.printTo=\\sdi\MudShark;
                SDI.Reports.shippingDoc.paperSourceId=1;
                SDI.Reports.shippingDoc.copy=2;
                SDI.Reports.shippingLabel.printTo=\\sdi\MudShark;
                SDI.Reports.shippingLabel.paperSourceId=1;
                SDI.Reports.shippingLabel.copy=1;
                SDI.Reports.shippingDocRegPick.printTo=\\sdi\MudShark;
                SDI.Reports.shippingDocRegPick.paperSourceId=1;
                SDI.Reports.shippingDocRegPick.copy=2;
                SDI.Reports.shippingLabelRegPick.printTo=\\sdi\MudShark;
                SDI.Reports.shippingLabelRegPick.paperSourceId=1;
                SDI.Reports.shippingLabelRegPick.copy=1" 
         desc="" />
    <add bu="443" 
         value="logLevelOverride=verbose;
                printToOverride=ascendGW;
                debug.ListAvailPrinter=true;
                debug.ListAvailPrnPaperSources=false;
                SDI.Reports.shippingDoc.printTo=ascendGW;
                SDI.Reports.shippingDoc.paperSourceId=1;
                SDI.Reports.shippingDoc.copy=2;
                SDI.Reports.shippingLabel.printTo=ascendGW;
                SDI.Reports.shippingLabel.paperSourceId=1;
                SDI.Reports.shippingLabel.copy=1;
                SDI.Reports.shippingDocRegPick.printTo=ascendGW;
                SDI.Reports.shippingDocRegPick.paperSourceId=1;
                SDI.Reports.shippingDocRegPick.copy=1;
                SDI.Reports.shippingLabelRegPick.printTo=ascendGW;
                SDI.Reports.shippingLabelRegPick.paperSourceId=1;
                SDI.Reports.shippingLabelRegPick.copy=1" 
         desc="" />
    <add bu="444" 
         value="logLevelOverride=verbose;
                printToOverride=\\sdi\xMudShark;
                debug.ListAvailPrinter=true;
                debug.ListAvailPrnPaperSources=false;
                SDI.Reports.shippingDoc.printTo=\\sdi\xMudShark;
                SDI.Reports.shippingDoc.paperSourceId=1;
                SDI.Reports.shippingDoc.copy=2;
                SDI.Reports.shippingLabel.printTo=\\sdi\xMudShark;
                SDI.Reports.shippingLabel.paperSourceId=1;
                SDI.Reports.shippingLabel.copy=1;
                SDI.Reports.shippingDocRegPick.printTo=\\sdi\xMudShark;
                SDI.Reports.shippingDocRegPick.paperSourceId=1;
                SDI.Reports.shippingDocRegPick.copy=1;
                SDI.Reports.shippingLabelRegPick.printTo=\\sdi\xMudShark;
                SDI.Reports.shippingLabelRegPick.paperSourceId=1;
                SDI.Reports.shippingLabelRegPick.copy=1" 
         desc="" />
  </appSettings>
</configuration>
