<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDI.ISSRET_HTTP_SOAP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <SDI.ISSRET_HTTP_SOAP.My.MySettings>
            <setting name="ParentApp" serializeAs="String">
                <value>SDI.MOMBrandEAMParentApp.dll</value>
            </setting>
            <setting name="ParentAppClass" serializeAs="String">
                <value>SDI.MOMBrandEAMParentApp.MOMBrandEAMParentApp</value>
            </setting>
            <setting name="ISSRET_GetBatchSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ISSRET_MaxReq" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ISSRET_HTTP_SOAP_DataMap" serializeAs="String">
                <value>MOMBrand_ISSRET_HTTP_SOAP_TableColMap.xml</value>
            </setting>
            <setting name="ISSRET_SelectToSend" serializeAs="String">
                <value>ISSRET_HTTP_SOAP_SelectToSend.sql</value>
            </setting>
            <setting name="ISSRET_UpdateKeyColumns" serializeAs="String">
                <value>CUST_ID,TRANS_CODE,ISA_WORK_ORDER_NO,ACTIVITY_ID,SERIAL_ID,PLANT,INV_ITEM_ID,ISA_CUST_BIN,QTY,BUSINESS_UNIT_IN,STORAGE_AREA,STOR_LEVEL_1,STOR_LEVEL_2,STOR_LEVEL_3,STOR_LEVEL_4,ISA_EMPLID_30</value>
            </setting>
            <setting name="ISSRET_HTTP_SOAP_Batch" serializeAs="String">
                <value>MOMBrand_ISSRET_HTTP_SOAP_Batch.xml</value>
            </setting>
            <setting name="ISSRET_HTTP_SOAP_Batch_Item" serializeAs="String">
                <value>MOMBrand_ISSRET_HTTP_SOAP_Batch_Item.xml</value>
            </setting>
            <setting name="ISSRET_UpdateInputTable" serializeAs="String">
                <value>ISSRET_HTTP_SOAP_UpdateFromResp.sql</value>
            </setting>
            <setting name="ISSRET_TransactionCodeXRef" serializeAs="String">
                <value>ISS=Issue,RET=Return,RPR=RPR</value>
            </setting>
            <setting name="ISSRET_ClearErrMsgOnSuccess" serializeAs="String">
                <value>FALSE</value>
            </setting>
            <setting name="ISSRET_CanParseErrMsgSignature" serializeAs="String">
                <value>[Tt]=[Pp][Rr][Oo][Cc]\s[Nn]=[0-9]{0,5}(-[A-Za-z0-9_]*)?\s[Cc]=[0-9]{0,5}</value>
            </setting>
            <setting name="ISSRET_ErrMsgId" serializeAs="String">
                <value>\s[Nn]=[0-9]{0,5}(-[A-Za-z0-9_]*)?\s</value>
            </setting>
            <setting name="ISSRET_GetErrMsgDesc" serializeAs="String">
                <value>ISSRET_HTTP_SOAP_GetErrMsgDesc.sql</value>
            </setting>
        </SDI.ISSRET_HTTP_SOAP.My.MySettings>
    </applicationSettings>
</configuration>
