<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WMInventoryGoodsMovements.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="OLEDBconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange; Data Source=FSUAT" />
    <add key="TestOrProd" value="TEST" />
    <add key="testAuthorization" value="solvaySDI" />
    <add key="prodAuthorization" value="solvaySDI" />
    <add key="LogFilePath" value="C:\Program Files (x86)\SDI\SDIWMInventoryGoodsMovements\bin\Debug" />
    <!-- <add key="testServiceURL" value="https://10.118.13.27:8243/SDIOutboundWMReceiptAPI/v1_0" /> -->
    <!-- <add key="prodServiceURL" value="https://10.118.26.22:8243/SDIOutboundWMReceiptAPI/v1_0" /> -->
    <add key="testServiceURL" value="https://b2bsim.solvay.com:443/rest/SolvaySDI/fromSDI/webservice/REST/post" />
    <add key="prodServiceURL" value="https://b2b.solvay.com:443/rest/SolvaySDI/fromSDI/webservice/REST/post" />
    <!--<add key="testServiceURL" value="https://b2bsim.solvay.com:443/rest/SolvaySDI/fromSDI/webservice/REST/post" />
    <add key="prodServiceURL" value="https://b2b.solvay.com:443/rest/SolvaySDI/fromSDI/webservice/REST/post" />-->

  </appSettings>
  <applicationSettings>
    <WMInventoryGoodsMovements.Properties.Settings>
      <setting name="WMInventoryGoodsMovements_sdixaws2016test_EmailServices"
        serializeAs="String">
        <value>http://sdixaws2016test:8083/SDIEmailSvc/EmailServices.asmx</value>
      </setting>
    </WMInventoryGoodsMovements.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>