<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PODueDateChgEmail.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <!--<add key="oraCNstring" value="Provider=MSDAORA.1;Password=einternet;User ID=einternet;Data Source=SNBX;" />-->
    <add key="oraCNstring" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange;Data Source=RPTG;" />
    <!--Production timer = 30min-->
    <add key="timerInterval" value="1800" />
    <!--test timer = 1 min-->
    <!--<add key="timerInterval" value="60" />-->
    <add key="timerUnits" value="secs" />
    <add key="timerDesc" value="1800 secs or 30 mins" />
    <add key="statusNotifyCount" value="1" />
    <add key="statusNotify1" value="Michael Randall;Michael.Randall@sdi.com;VERBOSE" />
    <add key="notifySubject" value="SDI PO Due Date Change Customer Email Notification" />
    <add key="notifyFrom" value="service.notification@sdi.com" />
    <add key="settingLogLevel" value="VERBOSE" />
    <add key="logPathOverride" value="" />
    <!--"sitesMode can either be 'LIST' (will only send out email for POs for sites on list)  OR 'ALL' (will send out email regardless of list)-->
    <add key="sitesMode" value="ALL"/>
    <!--<add key="siteListCount" value="1" />
    <add key="site1" value="L0259;Siemens Fort Madison" />
   
    <add key="site2" value="L0097;Siemens Charlotte" />
    <add key="site3" value="L0206;University of PENN" />
    <add key="site4" value="L0256;University of North Carolina Charlotte" />-->
  </appSettings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <startup><supportedRuntime version="v2.0.50727"/>
    </startup>
    <applicationSettings>
        <PODueDateChgEmail.My.MySettings>
            <setting name="PODueDateChgEmail_SDiEmailUtilityService_EmailServices"
                serializeAs="String">
                <value>http://ims.sdi.com:8913/SDIEmailSvc/EmailServices.asmx</value>
            </setting>
            <setting name="default_DB" serializeAs="String">
                <value>Data Source=RPTG</value>
            </setting>
        </PODueDateChgEmail.My.MySettings>
    </applicationSettings>
</configuration>
