<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PODueDateChgEmail.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <appSettings>
	<add key="OLEDBconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User Id=sdiexchange;Data Source=DEVL"/>
    <!--Production timer = 30min-->
    <add key="timerInterval" value="1800"/>
    <!--test timer = 1 min-->
    <!--<add key="timerInterval" value="60" />-->
    <add key="timerUnits" value="secs"/>
    <add key="timerDesc" value="1800 secs or 30 mins"/>
    <add key="statusNotifyCount" value="1"/>
    <add key="statusNotify1" value="Michael Randall;Michael.Randall@sdi.com;VERBOSE"/>
    <add key="notifySubject" value="SDI PO Due Date Change Customer Email Notification"/>
    <add key="notifyFrom" value="service.notification@sdi.com"/>
    <add key="settingLogLevel" value="VERBOSE"/>
    <add key="logPathOverride" value=""/>
    <add key="sitesMode" value="ALL"/>

    <add key="CBRECompanyID" value="100"/>
    <add key="ServiceChannelBaseAddress" value="https://sb2api.servicechannel.com/v3"/>
    <add key="WMUName" value="SDIAPI"/>
    <add key="WMPassword" value="WalmartUser!123"/>
    <add key="CBREUName" value="CBRESDI"/>
    <add key="CBREPassword" value="Walmart1!"/>
    <add key="WMClientKey" value="U0IuMjAwMDA1MTI1OS5GNjg2RENCNi0yNDMzLTQ3QjgtOEVCNi0zMDg3QkZERkREM0U6NDkzMTlENDAtRUEzQS00NjY0LUE2MTctRjY2NkQ0QUVBNzA4"/>
    <add key="CBREClientKey" value="U0IuMjAxNDkxNzQzMC4xQkNGMUU2NC04OTQ4LTQyODUtOTRBNi1COTZCNDBGOEQwQTI6Q0E1Rjc3MEItNzMyMy00QjdFLTg4NUQtQUE4MzIzNzBFQTAy"/>
    <add key="ServiceChannelLoginEndPoint" value="https://sb2login.servicechannel.com/oauth/token"/>
  </appSettings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
        </sharedListeners>
    </system.diagnostics>
    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup>
    <applicationSettings>
        <PODueDateChgEmail.My.MySettings>
            <setting name="PODueDateChgEmail_SDiEmailUtilityService_EmailServices" serializeAs="String">
              <value>http://SDIXBATCH:8011/EmailSvcProd/EmailServices.asmx</value>
            </setting>
            <setting name="default_DB" serializeAs="String">
                <value>Data Source=DEVL</value>
            </setting>
        </PODueDateChgEmail.My.MySettings>
    </applicationSettings>
</configuration>
