<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CytexMxmMatMastIn.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
        <CytexMxmMatMastIn.My.MySettings>
            <setting name="sqlCNString1" serializeAs="String">
                <value>server=cplus_prod;uid=einternet;pwd=einternet;initial catalog='contentplus'</value>
            </setting>
            <setting name="rootDir" serializeAs="String">
                <value>C:\CytecMxmIn</value>
            </setting>
            <setting name="logPath" serializeAs="String">
                <value>C:\CytecMxmIn\LOGS</value>
            </setting>
            <setting name="onErrorEmail_From" serializeAs="String">
                <value>TechSupport@sdi.com</value>
            </setting>
            <setting name="onErrorEmail_CC" serializeAs="String">
                <value />
            </setting>
            <setting name="onErrorEmail_BCC" serializeAs="String">
                <value>webdev@sdi.com</value>
            </setting>
            <setting name="onErrorEmail_To" serializeAs="String">
                <value>vitaly.rovensky@sdi.com</value>
            </setting>
            <setting name="CytexMxmMatMastIn_SDiEmailUtilityService_EmailServices"
                serializeAs="String">
                <value>http://ims.sdi.com:8913/SDIEmailSvc/EmailServices.asmx</value>
            </setting>
            <setting name="inputDirectory" serializeAs="String">
                <value>C:\inetpub\wwwroot\SDIWebIn\SDIWebProcessorsXMLFiles</value>
            </setting>
            <setting name="oraCNString1" serializeAs="String">
                <value>Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange;Data Source=RPTG</value>
            </setting>
        </CytexMxmMatMastIn.My.MySettings>
    </applicationSettings>
</configuration>
