<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="OLEDBFSPRDconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange;Data Source=FSPRD" />
    <add key="OLEDBDEVLconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange;Data Source=DEVL" />
    <add key ="PRDDB" value="FSPRD"/>
    <add key ="CURRENTDB" value="DEVL"/>
    <add key="LogPath" value="D:\CintasLogs"/>
  </appSettings>
</configuration>