<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NYFoodOrderingServiceAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <applicationSettings>
        <NYFoodOrderingServiceAccess.Properties.Settings>
            <setting name="NYFoodOrderingServiceAccess_SFOrdering_SFWebService"
                serializeAs="String">
                <value>https://www.opt-osfns.org/osfns/resources/SFOrdering/sfwebservice.asmx</value>
            </setting>
        </NYFoodOrderingServiceAccess.Properties.Settings>
    </applicationSettings>
	<appSettings>
		<add key="VendorID" value="231737774" />
		<add key="ApiPassword" value="Sd1C@nnect" />
		<add key="EndDateLimit" value="10" />
		<add key="LogPath" value="C:\Program Files (x86)\SDI\NYFoodOrderingServiceAccess\LOGS\" />
	</appSettings>
	<connectionStrings>
		<add name="ConString" connectionString="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User Id=sdiexchange;Data Source=SNBX" />
	</connectionStrings>
</configuration>