<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="OLEDBFSPRDconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange;Data Source=FSPRD" />
    <add key="OLEDBconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange;Data Source=FSUAT" />
    <add key ="PRDDB" value="FSPRD"/>
    <add key ="CURRENTDB" value="FSUAT"/>
    <add key="LogPath" value="C:\SCSendNotesLogs"/>
    
    <add key="WMUName" value="SDIAPI" />
    <add key="WMPassword" value="WalmartUser!123" />
    <add key="WMClientKey" value="U0IuMjAwMDA1MTI1OS5GNjg2RENCNi0yNDMzLTQ3QjgtOEVCNi0zMDg3QkZERkREM0U6NDkzMTlENDAtRUEzQS00NjY0LUE2MTctRjY2NkQ0QUVBNzA4" />
    <add key="WMPRODClientKey" value="U0IuMjAwMDA1MTI1OS5DQkREOEY3Qy0xRjVBLTREMEItODFBNy0zRjlDNUVEODlBQjA6RkYyRUQ4MDItQ0Y4OS00RTNDLTgzRUYtNUU4ODZDOTBFNjQw"/>
    <add key="ServiceChannelDEVLoginEndPoint" value="https://sb2login.servicechannel.com/oauth/token" />
    <add key="ServiceChannelDEVSendNotesEndPoint" value="https://sb2api.servicechannel.com/v3/workorders/" />
    
    <add key="ServiceChannelLoginEndPoint" value="https://login.servicechannel.com/oauth/token" />
    <add key="ServiceChannelSendNotesEndPoint" value="https://api.servicechannel.com/v3/workorders/" />
  </appSettings>
</configuration>