<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CheckDeluxeDelivery1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <!--INC0031520 - Service channel updation not working then send an Error email - Dhamotharan P-->
  <applicationSettings>
        <CheckDeluxeDelivery1.My.MySettings>
            <setting name="CheckDeluxeDelivery1_SDIEmailUtility_EmailServices"
                serializeAs="String">
                <value>http://sdixaws2016test:8083/SDIEmailSvc/EmailServices.asmx</value>
            </setting>
            <setting name="EMailList" serializeAs="String">
                <value>michael.marrinan@sdi.com; rashmi.gupta@sdi.com; ron.fijalkowski@sdi.com; scott.doyle@sdi.com; wenjia.zhang@sdi.com; brian.akom@sdi.com</value>
            </setting>
        </CheckDeluxeDelivery1.My.MySettings>
      
    </applicationSettings>
  <appSettings>
    <add key="OLEDBconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange;Data Source=RPTG"/>
    <add key="OraPRODDbList" value ="~PROD~FSPRD"/>
    <add key="EMailListForSC" value="yury.arkadin@sdi.com; scott.doyle@sdi.com; varun.karthikeyan@sdi.com; webdev@sdi.com"/>
  </appSettings>
</configuration>