<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
	<appSettings>
		<!--Test API Details-->
		<add key="AbbvieApiURL" value="https://api-q.abbvie.com/v1/processorderchangenotification" />
		<add key="ApiUserName" value="pj2wPoHJRGhGxKI2RXQkZPibotcKqdmx" />
		<add key="ApiPassword" value="zK9N9F1XsN2ZFY8D" />
		<!-- Converted Base64 API username & password-->
		<add key="ApiBasicAuth" value="cGoyd1BvSEpSR2hHeEtJMlJYUWtaUGlib3RjS3FkbXg6eks5TjlGMVhzTjJaRlk4RA==" /> 
		<add key="LogPath" value="C:\Program Files (x86)\SDI\NYFoodOrderingServiceAccess\LOGS\" />
	</appSettings>
	<connectionStrings>
		<add name="ConString" connectionString="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User Id=sdiexchange;Data Source=SNBX" />
	</connectionStrings>
</configuration>