<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PO_OpenUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="OLEDBconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User Id=sdiexchange;Data Source=FSTST"/>
    <add key="WebAppName" value="http://zeustest.sdi.com:8083/ZEUSRPTG/"/>
    <add key="LogFilePath" value="D:\SupplierPONotification\Logs\" />
    <add key="Disp_Method" value="PT2"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
    <connectionStrings>
    <add name="ConString" connectionString="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User Id=sdiexchange;Data Source=FSTST" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <PO_OpenUtility.Properties.Settings>
      <setting name="PO_OpenUtility_com_sdi_ims_EmailServices" serializeAs="String">
        <value>http://sdixaws2016test:8083/SDIEmailSvc/EmailServices.asmx</value>
      </setting>
    </PO_OpenUtility.Properties.Settings>
  </applicationSettings>
</configuration>