<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NotificationUtility.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="OLEDBconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange;Data Source=DEVL" />
    <add key ="OLEProdDB" value="FSPRD"/>
    <add key ="OLECurrentDB" value="DEVL"/>
    <add key="WMUName" value="SDIAPI"/>
    <add key="WMPassword" value="WalmartUser!123"/>
    <add key="WMClientKey" value="U0IuMjAwMDA1MTI1OS5GNjg2RENCNi0yNDMzLTQ3QjgtOEVCNi0zMDg3QkZERkREM0U6NDkzMTlENDAtRUEzQS00NjY0LUE2MTctRjY2NkQ0QUVBNzA4"/>
    <add key="IntervalTime"  value="3" />
    <add key="NotificationType"  value="TRANS"/>
    <add key="serverId" value="LOCALHOST" />
    <add key="LogPath" value="D:\UpdateWOStatus_Utility\Logs\" />
  </appSettings>
</configuration>