<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CheckAutoCribTransactions.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <CheckAutoCribTransactions.My.MySettings>
            <setting name="CheckAutoCribTransactions_SDiEmailUtilityService_EmailServices"
                serializeAs="String">
                <value>http://ims.sdi.com:8913/SDIEmailSvc/EmailServices.asmx</value>
            </setting>
            <setting name="BU_I090X_VISTEON" serializeAs="String">
                <value>Uriel.Serrano@sdi.com;Flavio.Gomez@sdi.com;esteban.rios@sdi.com;daniel.munoz@sdi.com;Humberto.Mora@sdi.com;</value>
            </setting>
            <setting name="BU_I0278" serializeAs="String">
                <value>Edward.Eaves@sdi.com;</value>
            </setting>
            <setting name="BU_I0405" serializeAs="String">
                <value>Kirk.SanRoman@sdi.com;</value>
            </setting>
            <setting name="BU_I0277" serializeAs="String">
                <value>Kirk.SanRoman@sdi.com;</value>
            </setting>
            <setting name="BU_I0440" serializeAs="String">
                <value>Jonathan.Schaefers@sdi.com;Bruce.Stallworth@sdi.com;</value>
            </setting>
            <setting name="BU_I0450" serializeAs="String">
                <value>Brandon.Carr@sdi.com;Robert.Hall@sdi.com;</value>
            </setting>
            <setting name="BU_I0469" serializeAs="String">
                <value>Michael.Mason@sdi.com;Emile.Barnett@sdi.com;</value>
            </setting>
        </CheckAutoCribTransactions.My.MySettings>
    </applicationSettings>
</configuration>
