<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UoCMinMaxMapping.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="OLEDBconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange; Data Source=STAR" />
    <add key="TestOrProd" value="TEST" />
    <add key="testUsername" value="fsmaxsdi1" />
    <add key="testPassword" value="SDI+fs4uchicago" />
    <add key="prodAuthorization" value="UoC" />
    <!-- <add key="testServiceURL" value="https://10.118x.13.27:8243/ReceiptAPI/v1_0" /> -->
    <!-- <add key="prodServiceURL" value="https://10.118x.26.22:8243/ReceiptAPI/v1_0" /> -->
    <!-- <add key="testServiceURL" value="https://128.135.22.13:6443/meaweb/services/UCSDIINVENTORY" /> -->
    <add key="testServiceURL" value="https://fsmax-sdi-vip.uchicago.edu:6443/meaweb/services/UCSDIINVENTORY" />
    <add key="prodServiceURL" value="" />

    <!-- Connection 
    t-9sdoyl
    zhCkrh!8KJByr^  -->

  </appSettings>

  <applicationSettings>
        <UoCMinMaxMapping.Properties.Settings>
            <setting name="UoCMinMaxMapping_SDiEmailUtilityService_EmailServices"
                serializeAs="String">
                <value>http://ims.sdi.com:8913/SDIEmailSvc/EmailServices.asmx</value>
            </setting>
        </UoCMinMaxMapping.Properties.Settings>
    </applicationSettings>
</configuration>