<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DeleteFilesFromSpecifiedDir.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <DeleteFilesFromSpecifiedDir.My.MySettings>
            <setting name="rootDir" serializeAs="String">
                <value>C:\SendFileAsAttachm</value>
            </setting>
            <setting name="DeleteFilesFromSpecifiedDir_SDiEmailUtilityService_EmailServices"
                serializeAs="String">
                <value>http://ims.sdi.com:8913/SDIEmailSvc/EmailServices.asmx</value>
            </setting>
          <setting name="logPath" serializeAs="String">
            <value>C:\SendFileAsAttachm\LOGS</value>
          </setting>
          <setting name="onErrorEmail_From" serializeAs="String">
            <value>TechSupport@sdi.com</value>
          </setting>
          <setting name="onErrorEmail_CC" serializeAs="String">
            <value />
          </setting>
          <setting name="onErrorEmail_To" serializeAs="String">
            <value>vitaly.rovensky@sdi.com</value>
          </setting>
          <setting name="onWrongEmail_To" serializeAs="String">
            <value>vitaly.rovensky@sdi.com</value>
          </setting>
          <setting name="inputDirectory" serializeAs="String">
            <value>C:\SendFileAsAttachm\XLSXINSource</value>
          </setting>
          <setting name="onErrorEmail_BCC" serializeAs="String">
            <value>vitaly.rovensky@sdi.com</value>
          </setting>
        </DeleteFilesFromSpecifiedDir.My.MySettings>
    </applicationSettings>
</configuration>