<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProcessOutXML.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <ProcessOutXML.My.MySettings>
            <setting name="rootDir" serializeAs="String">
                <value>C:\INTFCXML</value>
            </setting>
            <setting name="logPath" serializeAs="String">
                <value>C:\INTFCXML\LOGS</value>
            </setting>
            <setting name="logLevel" serializeAs="String">
                <value>VERBOSE</value>
            </setting>
            <setting name="onError_emailFrom" serializeAs="String">
                <value>TechSupport@sdi.com</value>
            </setting>
            <setting name="onError_emailSubject" serializeAs="String">
                <value>UNCC XML OUT Error - v3</value>
            </setting>
            <setting name="unixServer_IOH" serializeAs="String">
                <value>\\solaris2\PSSHARE\efi\I0256\outbound\IOH</value>
            </setting>
            <setting name="unixServer_ITM" serializeAs="String">
                <value>\\solaris2\PSSHARE\efi\I0256\outbound\ITM</value>
            </setting>
            <setting name="unixServer_REQCST" serializeAs="String">
                <value>\\solaris2\PSSHARE\efi\I0256\outbound\REQCST</value>
            </setting>
            <setting name="onError_emailTo" serializeAs="String">
                <value>vitaly.rovensky@sdi.com</value>
            </setting>
            <setting name="url_archibus_uncc_edu" serializeAs="String">
                <value>http://websrv.sdi.com/sdiwebin/xmlinsdi.aspx</value>
            </setting>
            <setting name="oraCNString1" serializeAs="String">
                <value>Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange;Data Source=STAR</value>
            </setting>
            <setting name="ProcessOutXML_SDiEmailUtilityService_EmailServices"
                serializeAs="String">
                <value>http://sdixbatch:8011/EmailSvcProd/EmailServices.asmx</value>
            </setting>
        </ProcessOutXML.My.MySettings>
    </applicationSettings>
</configuration>
