<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">

      <section name="NYCShipmentProcess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>

    </sectionGroup>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  
  <connectionStrings>
    <add name="ConString" connectionString="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User Id=sdiexchange;Data Source=FSUAT"/>
  </connectionStrings>
  <appSettings>
    <add key="UserName" value="avacorp@sdi.com"/>
    <add key="Password" value="LightOfDiwali2020"/>
    <add key="OutlookURL" value="https://outlook.office365.com/EWS/Exchange.asmx"/>
    <add key="MailboxEmailID" value="avacorp@sdi.com"/>
    <add key="ProcessedFolderName" value="NYCProcessed" />
    <add key="NYCMail" value="NYC Shipment Validation Report"></add>
    <add key="OraPRODDbList" value="~PROD~FSPRD"/>
  </appSettings>
  
  <applicationSettings>
    <NYCShipmentProcess.Properties.Settings>
      <setting name="EmailToReceivingReports_SDIEmailUtility_EmailServices"
        serializeAs="String">
        <value>http://ims.sdi.com:8913/SDIEmailSvc/EmailServices.asmx</value>
      </setting>
      <setting name="NYCShipmentProcess_SDIEmailUtility_EmailServices"
        serializeAs="String">
        <value>http://ims.sdi.com:8913/SDIEmailSvc/EmailServices.asmx</value>
      </setting>
    </NYCShipmentProcess.Properties.Settings>
  </applicationSettings>
</configuration>
