<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UpsIntegration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="port" value="10022" />
    <add key="defaultConn" value="Provider=OraOLEDB.Oracle;User Id=sdiexchange;Password=sd1exchange;Data Source=RPTG.WORLD;Connection Timeout=1200;" />
    <add key="winscpDir" value="C:\Program Files (x86)\WinSCP" />    
    <add key="rptgConn" value="Provider=OraOLEDB.Oracle;User Id=sdiexchange;Password=sd1exchange;Data Source=RPTG.WORLD;Connection Timeout=1200;" />
    <add key="prodConn" value="Provider=OraOLEDB.Oracle;User Id=sdiexchange;Password=sd1exchange;Data Source=PROD.WORLD;Connection Timeout=1200;" />
    <add key="plgrConn" value="Provider=OraOLEDB.Oracle;User Id=sdiexchange;Password=sd1exchange;Data Source=PLGR.WORLD;Connection Timeout=1200;" />
    <!-- Added by Avasoft-->
    <add key="OLEDBconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User Id=sdiexchange;Data Source=PLGR" />
  </appSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <UpsIntegration.Properties.Settings>
      <setting name="UpsIntegration_SDiEmailUtilityService_EmailServices"
        serializeAs="String">
        <value>http://ims.sdi.com:8913/SDIEmailSvc/EmailServices.asmx</value>
      </setting>
   </UpsIntegration.Properties.Settings>
  </applicationSettings>
</configuration>
