<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SDINonStockEmailUtility.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <SDINonStockEmailUtility.My.MySettings>
            <setting name="logMyPath" serializeAs="String">
                <value>C:\Program Files (x86)\SDI\SDINonStockEmailUtility\LOGS</value>
            </setting>
            <setting name="SDINonStockEmailUtility_SDiEmailUtilityService_EmailServices"
                serializeAs="String">
                <value>http://sdixaws2016test:8083/SDIEmailSvc/EmailServices.asmx</value>
            </setting>
            <setting name="oraCNString1" serializeAs="String">
                <value>Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange;Data Source=FSUAT</value>
            </setting>
        </SDINonStockEmailUtility.My.MySettings>
    </applicationSettings>
  <appSettings>
    <add key="OLEDBconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange;Data Source=DEVL" /> 
    <add key="WebAppName" value="ims.sdi.com:8080/localme/" />  
    <add key="SQLDBReplicateConString1" value="server=SQL2012;uid=einternet;pwd=E1nternet$;initial catalog=" /> 
    <add key="TrackOrderNo" value="false" />
    <add key="cplusServerforDefault" value="http://199.117.166.50:8080/" />
    <add key="OraPRODDbList" value ="~PROD~FSPRD"/>
    <add key="serverKey" value="AAAAZWTG-74:APA91bErTh_a5Hj0vZPcJOlKpgPzXb7Dp4L4dwsVhlhYe63uBQs5o3iCBL3iEhXOpf1V08sQHop33fZkBI6msz9LDQZ-y4hNa8OqVDtvJ8obIana7_EL0KO8e_EwdmcK3bt0-DikjhIn"/>
    <add key="senderId" value="435482459070"/>
    <add key="serverKey1" value="AAAA65VMnyI:APA91bHjA951M2U7GgabkBUnzlHMywWqI1yRQmkj2BzQmNykS9tXdtDY7MSCTcjgaQE-19whwzM3gmop0eE2-zSz3neV7e8nrONM96aRen_vUyJCeSz-B2ZaefhZe-yS_UTO6cWX3FIN" />
    <add key="senderId1" value="1011822141218" />
    <add key="ECIList" value="~I0967~I0968~I0969~I0970~I0971~I0972~I0973~I0974~I0975~I0976~I0977" />
    <add key="StartDate" value="15-06-21"/>
    <add key="InsourceAssetsEmailId" value="InsourceAssets@walmart.com"/>
    <add key="ZeusMailImg" value="https://sdizeus2test.sdi.com/Images/zeus-logo.png"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
