<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SDINonStockEmailUtility.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <SDINonStockEmailUtility.My.MySettings>
            <setting name="logMyPath" serializeAs="String">
                <value>C:\Program Files (x86)\SDI\SDINonStockEmailUtility\LOGS</value>
            </setting>
            <setting name="SDINonStockEmailUtility_SDiEmailUtilityService_EmailServices"
                serializeAs="String">
                <value>http://SDIXBATCH:8011/EmailSvcProd/EmailServices.asmx</value>
            </setting>
            <setting name="oraCNString1" serializeAs="String">
                <value>Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange;Data Source=RPTG</value>
            </setting>
        </SDINonStockEmailUtility.My.MySettings>
    </applicationSettings>
  <appSettings>
    <add key="OLEDBconString" value="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User ID=sdiexchange;Data Source=RPTG" />
    <add key="WebAppName" value="ims.sdi.com:8080/localme/" />  
    <add key="SQLDBReplicateConString1" value="server=SQL2012;uid=einternet;pwd=E1nternet$;initial catalog=" />
    <add key="TrackOrderNo" value="false" />
    <add key="cplusServerforDefault" value="http://199.117.166.50:8080/" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
