<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EmailToReceipt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>    
    <add key="UserName" value="pdfuser@sdi.com" />
    <add key="Password" value="0c17c08C" />
    <add key="OutlookURL" value="https://outlook.office365.com/EWS/Exchange.asmx" />
    <add key="MailboxEmailID" value="abbviercts@sdi.com" />
    <add key="ProcessedFolderName" value="Processed" />
    <add key="FilterEmailSubject" value="TestEXTERNALReceipt LC Storerooms SDi - Email" />
    <add key="DestinationPath" value="\\SDIXAWS2016TEST\SharedFolder\EmailToReceipt\" />
    <add key="appId" value="035c8ef3-fd45-4ec2-b283-ad1aa650e7dd" />
    <add key="clientSecret" value="kwT8Q~7BSkjgFOYAosTyhU7zARQbSRQle1jXVbaE" />
    <add key="tenantId" value="3a7d6aa2-249a-4182-bc55-d043e55e0deb" />
  </appSettings>
  <connectionStrings>
    <add name="ConString" connectionString="Provider=OraOLEDB.Oracle.1;Password=sd1exchange;User Id=sdiexchange;Data Source=DEVL" />
  </connectionStrings>
  <applicationSettings>
    <EmailToReceipt.Properties.Settings>
      <setting name="EmailToReceipt_SDIEmailUtility_EmailServices" serializeAs="String">
        <value>http://SDIXAWSBATCH:8011/EmailSvcProd/EmailServices.asmx</value>
      </setting>
    </EmailToReceipt.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
