<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EAGetMail" version="5.3.0.2" targetFramework="net46" />
  <package id="FreeSpire.XLS" version="12.7.0" targetFramework="net46" />
  <package id="Independentsoft.Exchange" version="3.0.760" targetFramework="net46" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net46" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net46" />
  <package id="Microsoft.Exchange.WebServices" version="2.2" targetFramework="net45" />
  <package id="Microsoft.Identity.Client" version="4.49.1" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.22.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net46" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net46" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net46" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net45" />
</packages>