<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SDI.MOMBrandEAMParentApp.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <SDI.MOMBrandEAMParentApp.My.MySettings>
            <setting name="oraCNString1" serializeAs="String">
                <value>Provider=MSDAORA.1;Password=einternet;User ID=einternet;Data Source=PROD</value>
            </setting>
            <setting name="appLogPath" serializeAs="String">
                <value>Logs</value>
            </setting>
            <setting name="onError_NotifyTO" serializeAs="String">
                <value>erwin.bautista@sdi.com</value>
            </setting>
            <setting name="onError_NotifyFROM" serializeAs="String">
                <value>InSiteOnline@sdi.com</value>
            </setting>
            <setting name="onError_NotifyCC" serializeAs="String">
                <value />
            </setting>
            <setting name="onError_NotifyBCC" serializeAs="String">
                <value />
            </setting>
            <setting name="onError_NotifySUBJECT" serializeAs="String">
                <value>EAM Data Exchange Error</value>
            </setting>
            <setting name="appLogLevel" serializeAs="String">
                <value>VERBOSE</value>
            </setting>
            <setting name="appLogFilenameId" serializeAs="String">
                <value>MOMBrand</value>
            </setting>
            <setting name="target_URL" serializeAs="String">
                <value>https://eam.saas.infor.com/EAM85WS/axis/services/EWSConnector</value>
            </setting>
            <setting name="customerIdentifier" serializeAs="String">
                <value>MOMBRANDS</value>
            </setting>
            <setting name="appTempPath" serializeAs="String">
                <value>Logs</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value>INTERFACE@MALTOMEAL_PRD</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>111111</value>
            </setting>
        </SDI.MOMBrandEAMParentApp.My.MySettings>
    </applicationSettings>
</configuration>
