<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CytecMaximoXmlOut.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <CytecMaximoXmlOut.My.MySettings>
            <setting name="rootDir" serializeAs="String">
                <value>C:\CytecMxmIn</value>
            </setting>
            <setting name="logPath" serializeAs="String">
                <value>C:\CytecMxmIn\LOGS</value>
            </setting>
            <setting name="logLevel" serializeAs="String">
                <value>VERBOSE</value>
            </setting>
            <setting name="onError_emailFrom" serializeAs="String">
                <value>TechSupport@sdi.com</value>
            </setting>
            <setting name="onError_emailTo" serializeAs="String">
                <value>vitaly.rovensky@sdi.com</value>
            </setting>
            <setting name="oraCNString1" serializeAs="String">
                <value>Provider=OraOLEDB.Oracle.1;Password=einternet;User ID=einternet;Data Source=DEVL</value>
            </setting>
            <setting name="Url_Cytec_Maximo" serializeAs="String">
                <value>http://websrv.sdi.com/sdiwebin/xmlinsdi.aspx</value>
            </setting>
            <setting name="CytexMxmMatMastIn_SDiEmailUtilityService_EmailServices"
                serializeAs="String">
                <value>http://ims.sdi.com:8913/SDIEmailSvc/EmailServices.asmx</value>
            </setting>
            <setting name="CytecMaximoXmlOut_SDiEmailUtilityService_EmailServices"
                serializeAs="String">
                <value>http://ims.sdi.com:8913/SDIEmailSvc/EmailServices.asmx</value>
            </setting>
            <setting name="FileNameStartWith" serializeAs="String">
                <value>CytecMaxWriteIssuesOut</value>
            </setting>
            <setting name="onError_emailSubject" serializeAs="String">
                <value>(TEST) Cytec Maximo Issues XMLOut Error</value>
            </setting>
        </CytecMaximoXmlOut.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
